<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidzhao.music">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <application
        android:name=".application.MusicApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity
            android:name=".activity.common.SplashActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.common.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/noActionBar">
        </activity>
        <activity android:name=".activity.music.MenuBackgroundActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/translucent">
        </activity>
        <activity android:name=".activity.music.MenuSettingActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/translucent">
        </activity>
        <activity android:name=".activity.music.MenuScanActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/translucent">
        </activity>
        <activity android:name=".activity.music.OpinionActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/noActionBar">
        </activity>
        <activity android:name=".activity.music.PlayQueueActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyDialog">
        </activity>
        <activity android:name=".activity.music.MusicSearchListActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/noActionBar">
        </activity>
        <activity android:name=".activity.video.PlayActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/noActionBar">
        </activity>
        <activity android:name=".activity.picture.ImageActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/noActionBar">
        </activity>
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <!--
         Main music service, provides media browsing and media playback services to
         consumers through MediaBrowserService and MediaSession. Consumers connect to it through
         MediaBrowser (for browsing) and MediaController (for playback control)
        -->
        <service android:name=".service.MediaService" >
            <intent-filter>
                <action android:name="com.davidzhao.music.service.MediaService" />
            </intent-filter>
        </service>
    </application>

</manifest>